<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles_index.css">
    <title>Proyectos de Gestión</title>
    <div class="container">
        <div class="form-container">
            <form class="input-login">
                <h2>Inicio de Sesión</h2>           
                <p>Ingrese correo y contraseña</p>
                <div class="container-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" placeholder="Correo Institucional" id="email-login"required>
                </div>
                <div class="container-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" placeholder="Contraseña" id="password-login" required>
                </div> 
                <div class="error">
                  <p id="error-login"></p>
                </div>
                <a href="#">¿Olvidaste tu contraseña?</a>
                <button class="btn btn-principal" id="boton-inicio-sesion">INICIAR SESIÓN</button>
            </form>
        </div>

        <div class="container-texto">
            <div class="container-registro ">
               <a href="https://www.ucundinamarca.edu.co/" target="_blank"> <img src="/img/escudo-color.png"alt="escudo-universidad-color">  </a>
                <h3>Proyectos de Gestión de Conocimiento</h3>
                <p><i>"COGITO ERGO SUM"<br>René Descartes</i></p>
                <button class="btn" id="boton-ventana-registro">REGISTRARSE</button>
             
            </div>
           
        
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="/scripts/script_index.js" type="module"></script>
</body>
</html>