<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles_header.css">
  <link rel="stylesheet" href="/styles/styles_main.css">
  <title>Proyectos de Gestión</title>
</head>

<body>
  <div class="container">
    <header class="header">
      <nav class="navigation-bar">
        <div class="image">
          <a href="https://www.ucundinamarca.edu.co/" target="_blank"><img src="/img/logo_universidad_completo.png" /
              alt="Logo Universidad" width="150px"></a>
        </div>
        <div class="links">
          <ul>
            <li><a href="/students/main">Página Principal</a></li>
            <li><a href="#">Formatos</a></li>
            <li><a href="/students/projects">Entregar Proyectos</a></li>
            <li><a href="/students/grades">Consultar Nota</a></li>
          </ul>
        </div>
        <div class="user">
          <img src="/img/imagen_perfil.png" alt="Logo perfil" id="profile-icon">
          <div class="dropdown" id="dropdown-menu">
            <div class="dropdown-menu">
              <div class="dropdown-name">
                  <h4>Hola, <%= user.name %></h4>
                  <img src="/img/image_greeting.png" alt="greeting-image">              
              </div>
              <div class="dropdown-options">
                <div class="dropdown-options-password">
                  <a id="change-password" href="#">Cambiar Contraseña</a>
                </div>
                <div id="logout" class="dropdown-options-logout">
                  <a href="#">Cerrar sesión</a>
                </div>
              </div>
              <p class="dropdown-email"><%= user.email%></p>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="texto">
      <h1>Proyectos de Gestión del Conocimiento</h1>
      <p>Universidad de Cundinamarca Seccional Ubaté</p>
    </div>

    <div class="fondo-image">
      <div class="fondo-image-img">
        <div class="fondo-image-text">
          <h1>Fecha de Entrega</h1>
          <p>fecha</p>
        </div>
      </div>
    
    </div>

    <div class="link-files" id="links-download-files">
      <div class="files">
        <h3>lorem ipsum</h3>
        <a href="https://www.dropbox.com/scl/fi/z3rasb3muqvwv5y7um6dl/archivo1.pdf?rlkey=ucw101g21vra4vhvagvkt7p4y&st=df140auk&dl=1" > <img src="/img/imagen_pdf.png" alt="" class="link-img" id="archivo1"></a>
      </div>
      <div class="files">
        <h3>lorem ipsum</h3>
        <a href=""> <img src="/img/imagen_pdf.png" alt="" class="link-img" id="archivo2"></a>
      </div>
      <div class="files">
        <h3>lorem ipsum</h3>
        <a href=""> <img src="/img/imagen_pdf.png" alt="" class="link-img" id="archivo3"></a>
      </div> 
      <div class="files">
        <h3>lorem ipsum</h3>
        <a href=""> <img src="/img/imagen_pdf.png" alt="" class="link-img" id="archivo4"></a>
      </div>
      <div class="files">
        <h3>lorem ipsum</h3>
        <a href=""> <img src="/img/imagen_word.png" alt="" class="link-img" id="archivo5"></a>
      </div>
      <div class="files">
        <h3>lorem ipsum</h3>
        <a href=""> <img src="/img/imagen_word.png" alt="" class="link-img" id="archivo6"></a>
      </div>
    </div>


  </div>
  <script src="/scripts/script_header.js" type="module"></script>
  <script src="/scripts/script_main.js" type="module"></script>
</body>

</html>