<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles_header.css">
  <link rel="stylesheet" href="/styles/styles_main.css">
  <title>Proyectos de Gestión</title>
</head>

<body>
  <div class="container">
    <header class="header">
      <nav class="navigation-bar">
        <div class="image">
          <a href="https://www.ucundinamarca.edu.co/" target="_blank"><img src="/img/logo_universidad_completo.png" /
              alt="Logo Universidad" width="150px"></a>
        </div>
        <div class="links">
          <ul>
            <li><a href="/students/main">Página Principal</a></li>
            <li><a href="#">Formatos</a></li>
            <li><a href="/students/projects">Entregar Proyectos</a></li>
            <li><a href="/students/grades">Consultar Nota</a></li>
          </ul>
        </div>
        <div class="user">
          <img src="/img/imagen_perfil.png" alt="Logo perfil" id="profile-icon">
          <div class="dropdown" id="dropdown-menu">
            <div class="dropdown-menu">
              <div class="dropdown-name">
                <h4>Hola, <%= user.name %>
                </h4>
                <img src="/img/image_greeting.png" alt="greeting-image">
              </div>
              <div class="dropdown-options">
                <div class="dropdown-options-password">
                  <a id="change-password" href="#">Cambiar Contraseña</a>
                </div>
                <div id="logout" class="dropdown-options-logout">
                  <a href="#">Cerrar sesión</a>
                </div>
              </div>
              <p class="dropdown-email">
                <%= user.email%>
              </p>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="form-container">
      <h2>Cambiar contraseña</h2>
      <p>Usuario <%=user.email%>
      </p>
      <form class="form">
        <div class="container-password">
          <label for="new-password"></label>
          <input type="password" id="confirm-password" required>
          <button><ion-icon name="eye"></ion-icon></button>
        </div>
        <div class="container-password">
          <label for="confirm-password"></label>
          <input type="password" id="confirm-password" required>
          <button><ion-icon name="eye"></ion-icon></button>
        </div>
      </form>
      <button>cancelar</button>
      <button>enviar</button>
    </div>


    <script src="/scripts/script_header.js" type="module"></script>
    <script src="/scripts/script_main.js" type="module"></script>
</body>

</html>