<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles_header.css">
  <link rel="stylesheet" href="/styles/styles_password.css">
  <title>Proyectos de Gestión</title>
</head>

<body>
  <div class="container">
    <header class="header">
      <nav class="navigation-bar">
        <div class="image">
          <a href="https://www.ucundinamarca.edu.co/" target="_blank"><img src="/img/logo_universidad_completo.png" /
              alt="Logo Universidad" width="150px"></a>
        </div>
        <div class="links">
          <ul>
            <li><a href="/students/main">Página Principal</a></li>
            <li><a href="#">Formatos</a></li>
            <li><a href="/students/projects">Entregar Proyectos</a></li>
            <li><a href="/students/grades">Consultar Nota</a></li>
          </ul>
        </div>
        <div class="user">
          <img src="/img/imagen_perfil.png" alt="Logo perfil" id="profile-icon">
          <div class="dropdown" id="dropdown-menu">
            <div class="dropdown-menu">
              <div class="dropdown-name">
                <h4>Hola, <%= user.name %>
                </h4>
                <img src="/img/image_greeting.png" alt="greeting-image">
              </div>
              <div class="dropdown-options">
                <div class="dropdown-options-password">
                  <a id="change-password" href="#">Cambiar Contraseña</a>
                </div>
                <div id="logout" class="dropdown-options-logout">
                  <a href="#">Cerrar sesión</a>
                </div>
              </div>
              <p class="dropdown-email">
                <%= user.email%>
              </p>
            </div>
          </div>
        </div>
      </nav>
    </header>
    
    <div class="form-container">
      <div class="text">
        <h2>Cambiar contraseña</h2>
        <span>Usuario</span>
        <p><%=user.email%></p> 
      </div>
      <form class="form">
        <div class="container-password">
          <span>Nueva contraseña</span>
          <div class="input-button">
            <input type="password" id="new-password" >
            <button type="button" id="see-new-password"><ion-icon name="eye"></ion-icon></button>
          </div>
         
        </div>
        <div class="container-password">
          <span>Confirmar nueva contraseña</span>
          <div class="input-button">
          <input type="password" id="confirm-password" >
          <button type="button" id="see-confirm-password"><ion-icon name="eye"></ion-icon></button>
          </div>
          <div class="message-txt">
            <p id="message"></p>
          </div>
          
        </div>
      </form>
      <div class="buttons">
        <button class="button-send-info" id="btn-cancel">cancelar</button>
        <button class="button-send-info btn" id="btn-send" disabled>enviar</button>
      </div>
     
    </div>
  </div>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="/scripts/script_header.js" type="module"></script>
    <script src="/scripts/script_password.js" type="module"></script>
</body>

</html>