<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles_header.css">
  <link rel="stylesheet" href="/styles/styles_scores.css">
  <title>Proyectos de Gesti칩n</title>
</head>

<body>
  <div class="container">
    <header class="header">
      <nav class="navigation-bar">
        <div class="image">
          <a href="https://www.ucundinamarca.edu.co/" target="_blank"><img src="/img/logo_universidad_completo.png" /
              alt="Logo Universidad" width="150px"></a>
        </div>
        <div class="links">
          <ul>
            <li><a href="/professor/main">P치gina Principal</a></li>
            <li><a href="#">Formatos</a></li>
            <li><a href="/professor/scores">Calificar Proyectos</a></li>
          </ul>
        </div>
        <div class="user">
          <img src="/img/imagen_perfil.png" alt="Logo perfil" id="profile-icon">
          <div class="dropdown" id="dropdown-menu">
            <div class="dropdown-menu">
              <div class="dropdown-name">
                <h4>Hola, <%= user.name %>
                </h4>
                <img src="/img/image_greeting.png" alt="greeting-image">
              </div>
              <div class="dropdown-options">
                <div class="dropdown-options-password">
                  <a id="change-password" href="/change_password">Cambiar Contrase침a</a>
                </div>
                <div class="dropdown-options-logout">
                  <a id="logout">Cerrar sesi칩n</a>
                </div>
              </div>
              <p class="dropdown-email">
                <%= user.email%>
              </p>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="form-container">
      <form class="ciclo">
        <h3>Seleccione el ciclo para consultar proyectos</h3>
        <div class="students-ciclo">
          <label for="input-radio-number1">1 </label>
          <input type="radio" name="radio-ciclo" id="input-radio-number1" value="1" checked required>
        </div>
        <div class="students-ciclo">
          <label for="input-radio-number2">2</label>
          <input type="radio" name="radio-ciclo" id="input-radio-number2" value="2" required>
        </div>
        <div class="students-ciclo">
          <label for="input-radio-number2">3</label>
          <input type="radio" name="radio-ciclo" id="input-radio-number3" value="3" required>
        </div>
        <button class="button" id="btn-find-projects">CONSULTAR</button>
    </div>
      <div class="js-container-projects">
        <h3 id="js-text-projects">HOla</h3>
        <div class="js-display-projects">
          <div class="js-students-projects">
          </div>
        </div>
      </div>
   

  </div>
  <script src="/scripts/script_header.js" type="module"></script>
  <script src="/scripts/script_scores.js" type="module"></script>
</body>

</html>
