<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles_projects.css">
  <title>Proyectos de Gestión</title>
</head>

<body>
  <div class="container">
    <header class="header">
      <nav class="navigation-bar">
        <div class="image">
          <a href="https://www.ucundinamarca.edu.co/" target="_blank"><img src="/img/logo_universidad_completo.png" /
              alt="Logo Universidad" width="150px"></a>
        </div>
        <div class="links">
          <ul>
            <li><a href="/main">Página Principal</a></li>
            <li><a href="#">Formatos</a></li>
            <li><a href="/projects">Entregar Proyectos</a></li>
            <li><a href="#">Consultar Nota</a></li>
          </ul>
        </div>
        <div class="user">
          <a href="#"><img src="/img/imagen_perfil.png" alt="Logo perfil"></a>
        </div>
      </nav>
    </header>
    <div class="text">
      <h1>Envio de proyectos de Gestión</h1>
    </div>
    <div class="form-container">
      <form class="input-send-files">
        <span>Ingrese el nombre del proyecto</span>
        <div class="container-input">
          <ion-icon name="document-text-outline"></ion-icon>
          <input type="text" placeholder="Nombre Proyecto" id="email-registro2" required>
        </div>
        <span>Ingrese los correos institucionales</span>
        <div class="container-input">
          <ion-icon name="mail-outline"></ion-icon>
          <input type="email" placeholder="Correo Institucional" id="email-registro1" required>
        </div>
        <div class="container-input">
          <ion-icon name="mail-outline"></ion-icon>
          <input type="email" placeholder="Correo Institucional" id="email-registro2" >
        </div>
        <span>Seleccione el archivo en formato PDF</span>
        <div class="container-input">
          <ion-icon name="document-attach-outline"></ion-icon>
          <input type="file" placeholder="Archivo" id="file" required>
        </div>
        <span>Ingrese el ciclo al cual pertenece</span>
        <div class="container-input-radio">
          <label for="radio-1">1<input type="radio" name="ciclo" value="1" id="radio-1" required></label>
          <label for="radio-2">2<input type="radio" name="ciclo" value="2" id="radio-2" required>></label>
          <label for="radio-3"><input type="radio" name="ciclo" value="3" id="radio-3" required></label>
        </div>
        <button type="submit" class="btn btn-principal" id="boton-registro-usuarios">ENVIAR</button>
      </form>
    </div>
  </div>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>