<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles_projects.css">
  <title>Proyectos de Gestión</title>
</head>

<body>
  <div class="container">
    <header class="header">
      <nav class="navigation-bar">
        <div class="image">
          <a href="https://www.ucundinamarca.edu.co/" target="_blank"><img src="/img/logo_universidad_completo.png" /
              alt="Logo Universidad" width="150px"></a>
        </div>
        <div class="links">
          <ul>
            <li><a href="/students/main">Página Principal</a></li>
            <li><a href="/projects">Entregar Proyectos</a></li>
            <li><a href="#">Consultar Nota</a></li>
          </ul>
        </div>
        <div class="user">
          <a href="#"><img src="/img/imagen_perfil.png" alt="Logo perfil"></a>
        </div>
      </nav>
    </header>
    <div class="text">
      <h1>Envio de proyectos de Gestión</h1>
    </div>

    <form class="amount-students">
      <h2>Cantidad de integrantes</h2>
      <div class="amount-students-radio">
        <label for="input-radio-number1">1 </label>
        <input type="radio" name="radio-students" id="input-radio-number1" value="1" checked required>
      </div>
      <div class="amount-students-radio">
        <label for="input-radio-number2">2</label>
        <input type="radio" name="radio-students"  id="input-radio-number2" value="2" required>
      </div>
      <button id="button-students">Enviar</button>
    </form>
    
    <div class="form-container">
      <form class="input-send-files">
        <span>Ingrese el nombre del proyecto</span>
        <div class="container-input">
          <ion-icon name="document-text-outline"></ion-icon>
          <input type="text" placeholder="Nombre Proyecto" id="project-name" required>
        </div>
        <span>Ingrese los correos institucionales</span>
        <div class="container-input">
          <ion-icon name="mail-outline"></ion-icon>
          <input type="email" placeholder="Correo Institucional" id="email-number1" required>
        </div>
        <div class="container-input">
          <ion-icon name="mail-outline"></ion-icon>
          <input type="email" placeholder="Correo Institucional" id="email-number2">
        </div>
        <span>Seleccione el archivo en formato PDF</span>
        <div class="container-input">
          <ion-icon name="document-attach-outline"></ion-icon>
          <input type="file" placeholder="Archivo" id="file-upload" accept="application/pdf" required>
        </div>
        <span>Ingrese el ciclo al cual pertenece</span>
        <div class="container-input-radio">
          <div>
            <label for="radio-1">1 </label>
            <input type="radio" name="ciclo" value="1" id="radio-1" required checked>

          </div>
          <div>
            <label for="radio-2">2 </label>
            <input type="radio" name="ciclo" value="2" id="radio-2" required>

          </div>
          <div>
            <label for="radio-3">3</label>
            <input type="radio" name="ciclo" value="3" id="radio-3" required>

          </div>


        </div>
        <button type="button" class="button" id="button-send-project">ENVIAR</button>
      </form>
      
    </div>
  </div>
  <div class="special-buttons">
    <button class="button-update btn-hide" id="button-update-file">MODIFICAR ENTREGA</button>
    <button class="button-grade btn-hide" id="button-get-grade">CONSULTAR NOTA</button>
  </div>  

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="/scripts/script_projects.js" type="module"></script>
</body>

</html>