<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles_recover.css">
  <title>Proyectos de Gestión</title>
</head>

<body>
  <div class="container">  
    <div class="form-container">
      <div class="image-recover-password">
        <img src="/img/escudo-color.png" alt="Escudo Universidad" width="15%" style="text-align: center;">
      </div>
      <form class="form">
        <div class="container-email">
          <span>Ingrese su correo institucional</span>
          <div class="email">
          <input type="text" id="input-email" >
          </div>
          <div class="message-txt">
            <p id="message"></p>
          </div>
        </div>
      </form>
      <div class="button">
        <button class="button-send" id="btn-send" >Enviar</button>
      </div>
     
    </div>
  </div>
    <script src="/scripts/script_password.js" type="module"></script>
</body>

</html>