@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Poppins:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",serif;
    font-weight: 600;
    font-style: normal;
}
:root{
  --color-verde:#129e29;
  --color-blanco:#FFF;
  --color-negro:#161414;
  --color-azul: #23e0d1;
  --color-gris: #f3eeee;
}
body{
  background-color: var(--color-blanco);
}
.container{
  width: 100%;
  height: 100%;
}

.header{
  width: 100%;
  background-color:var(--color-gris);
  position: sticky;
}

.navigation-bar{
  margin: 0 auto;

  padding: 5px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.image{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img{
  width: 200px;
 
}

.links {
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.links ul{
  list-style: none;
  display: flex;
  gap: 30px;
}

.links li{
  justify-content: center;
  margin-right: 10px;
  align-items: center;
  font-size: 18px;
}

.links a{
  text-decoration: none;
  color: var(--color-negro);
  text-align: center;
}

.links a:hover{
  text-decoration: none;
  color: var(--color-verde);
}

.user{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user img {
  width: 50px;
}
.texto{
  margin: 20px auto;
}

h1 {
  color: var(--color-negro);
  font-size: clamp(1.5rem, 2vw, 3rem);
  text-align: center;
  font-style: italic;
}

p{
  color: #707070;
  font-size: clamp(1rem, 1.5vw, 2rem);
  text-align: center;
  font-style: italic;
}

.fondo-image{
  width: 60%;
  height: 600px;
  margin: 0 auto;
}

.fondo-image-img{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background-image: url('/img/imagen_fondo_universidad.png'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 15px var(--color-azul);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo-image-text{
  width: 60%;
  height: 200px;
  padding: 10px;
  text-align: center;
  margin-bottom: 70px;
  border-radius: 5px;
}

.link-files{
  margin: 40px auto;
  width:40%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  align-items: center;
  justify-items: center;
  row-gap: 30px;
  padding: 10px;
}

.files{
  border: 2px solid #6b6b6b;
  padding: 5px;
  text-align: center; 
  border-radius: 10px;
  width: 60%;
  height: auto;
  min-width: 70px;
}

.files:hover{
  border: 2px solid var(--color-verde);
}

.link-img{
 width: 70%;
 height: auto;

}


@media screen and (max-width: 1280px) {
  .link-files{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    padding: 10px;
  }
}